.newsletterForm{
    width: 30%;
    margin: auto;

    margin-bottom: 1rem;
}

.emailInputContainer{
    margin-bottom: .5rem;
}
.nameInputContainer{
    margin-bottom: .5rem;
}

.formSubmitContainer{
    margin: auto;
    text-align: center;
    
}
