.minicartProductListContainer{
    background-color: grey;
    color: white;
}
.summarySmallContent{
    color: white;
}
.checkout-summary{
    color: white;
}
.minicartSummary {
    color: white;
}

.minicartTitle{
    background-color: grey;
    color: white;
}
.minicartContentContainer{
    background-color: grey;
    color: white;
}
.closeIconContainer{
    background-color: grey;
    
}

.cartIcon{
    color: white;
}
