.container{
    background-color:lightgray;
}

.flexRow--leadsRow{
    background-color: darkred;
    width: 60%;    
    
    margin:auto;
    margin-top:1rem;
    display: flex;
    align-items: center;
}
.flexRow--leadsBtn{
    border-radius: 10px;
    width: 20%;    
    margin:auto;    
}

.flexRowContent--minicartFooter{
    color: white;    
}

.flexRow--menu-row{    
    margin:auto;
    text-align:center;
    width:100%;
    margin-top: .5rem;
}

.flexRowContent--menu-row{
    margin: 0 auto;
    width: 99%;
    margin-left:auto;
    margin-right: auto;
    
}
.flexRowContent--main-header-mobile{
    background-color: rgb(78, 78, 78);
    display: flex;
    padding:0;
    justify-content: center;
    justify-items: center;
    
}
.flexColChild{
    margin: auto;
    width: 100%;
    
}

.flexCol{
    margin-right: 1rem;
    margin-left: 1rem;
}