
.styledLinkContent{
    color: white;
}

.menuContainerList{
    
    text-align: center;
    width: 100%;
}

.styledLinkContainer{
    text-align: center;
}   

.menuContainer{
    display: flex;
    margin: auto;
    text-align: center;
}