.paragraph{
    color: white;
    text-transform: uppercase;
}

.paragraph--richLeads{
    margin-top: 2rem;
    color:white;
}

.paragraph--leadText{
    color: #59ff00;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
}

.paragraph--richLeads1{
    color:white;
    background-color: rgb(24, 22, 122);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}