.input{
    border: none;
    outline: none;
    box-shadow: none;
    text-align:left;
    background-color: transparent;
    
    
}

.input::placeholder{
    color:#eee;
    font-weight: bold;
    text-transform: uppercase;
    
}