.imageElement{
    border-radius: 20px;
    
}
.infoCardContainer{
    margin-top: 4rem;
}

.logoContainer{    
    align-items: center;
    display: flex;    
}
.logoContainer--logoMobile{    
    justify-content: center;
    display: flex;    
    margin:auto;    
}

.imageElement--logotit{    
    margin-left: 10px;
    border-radius: 0;
}

.infoCardImage{
    border-radius: 10px;
}

.sellingPrice{
    color: white;
}

.listPrice{
    color: white;
}

.installmentsPrice{
    color: white;
}
.searchBarContainer {
    width: 550px;
    outline: none;
    box-shadow: none;
}

@media screen and (max-width:700px){
    .searchBarContainer{
        width:300px;
    }
}

.input{
    border: none;
}

.searchIcon{
    background-image: "assets/heart.png";
}