.paragraph{
    color: white;
    text-transform: uppercase;
}

.paragraph--richLeads{
    margin-top: 2rem;
    color:white;
}

.paragraph--leadText{
    color: #59ff00;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
}

.paragraph--richLeads1{
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}